@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping List App</h1>
    <p class="lead">ShoppingList App that lets you take lists, edit the lists, and add items to the lists that you created.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started with this app you need to create a account by pressing Register
        </p>
        <a class="btn btn-info" id="registerLink" hidden="True" href="/Account/Register">Register</a>
        @*<a class="btn btn-default" id="loginForm" href="/Account/Login">Login</a>*@
    </div>
    <div class="col-md-4">
        <h2>Get more out of Notes</h2>
        <p>Get more out of your notes, with this app you can not only add notes to certain notes to remind yourself of certain things, but you can also check thim off as you get those things and delete them.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>